@import 'reset';
@import 'font-awesome.css';

body {
	font-size: 24px;
	font-family: "Helvetic Neue", Helvetica, Arial;
}
.jumbotron {
	.container {
		position: relative;

		.level-switch {
			font-size: 16px;
			position: absolute;
			bottom: -48px;
			left: 0;
		}

		.timer {
			padding: 5px;
			background: #000;
			position: absolute;
			bottom: -48px;
			right: 0;
			color: #FFF;
			time {
				color: #FFF;
			}
		}
	}
}

.tasks {
	.row {
		margin-bottom: 30px;
	}
}

.buttons {
	text-align: center;
}

.task {
	margin-bottom: 10px;

	span {
		font-size: 24px;
	}


	.fa {
		display: none;

		&.fa-check-circle-o {
			color: green;
		}
		&.fa-frown-o {
			color: red;
		}
	}
}